<div class="main-inner">
<h2>ログイン</h2><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div id="review-w">
  <div class="st-la">
  <div class="field">
    <label>メールアドレス: </label>
    <%= f.text_field :email, :class => "wd-middle",autofocus: true %>
  </div>

  <div class="field">
    <label>パスワード: </label>
    <%= f.password_field :password, :class => "wd-mini",autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %> ログイン情報を記憶する
    </div>
  <% end -%>

   <div class="post-button"><button name="button" type="submit">ログイン</button></div>
  </div><!-- st-la -->
  </div><!-- review-w -->
<% end %>
</div><!-- main-inner -->