<div class="contents row">
  <%= form_tag('/products',:multipart => true, method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="title" type="text" name="title"><br>
    <input placeholder="Image Url" type="text" name="image"><br>
    <textarea cols="30" name="ex" placeholder="ex" rows="10"></textarea><br>
    <select name="price">
 <option value="">---</option>
<option value="1円">1円</option>
<option value="10円">10円</option>
<option value="100円">100円</option>
<option value="1000円">1000円</option>
</select><br>
<select name="category">
 <option value="0">---</option>
<option value="1">2円</option>
<option value="2">20円</option>
<option value="3">200円</option>
<option value="4">2000円</option>
</select><br>
 <input placeholder="scene" type="text" name="scene"><br>
 <input placeholder="detail" type="text" name="detail"><br>
 <input placeholder="company" type="text" name="company"><br>
 <input placeholder="url" type="text" name="url"><br>
 <input placeholder="url" type="file" name="itemphoto"><br>
    <input type="submit" value="SENT">
  <% end %>
</div>